<app-header></app-header>
<div class="games-container">
  <div id="title-add-button-container">
    <h1  [ngStyle]="{'color':'#DAA520'}">Colección</h1>
    <button id="add-button" (click)="openModal()">Agregar juego</button>
  </div>

  <div *ngIf="isModalOpen" class="modal-content-container">
    <div class="modal-content">
      <button class="close-btn" (click)="closeModal()">X</button>
      <app-registro-juego (close)="closeModal()"></app-registro-juego>
    </div>
  </div>

  <div class="card-container">
      <div class="card" *ngFor="let juego of juegos">
        <div class="card-header"  [ngStyle]="{'border':'none'}">
          <h3>{{ juego.nombre }}</h3>
        </div>
        <div class="card-body">
          <img [src]="juego.imagen" alt="Imagen juego" class="imagen-juego">
          <p><strong>Condición:</strong>  {{ juego.condicion }}</p>
          <p><strong>Plataforma:</strong>  {{ juego.plataforma }}</p>
          <p><strong>Estado:</strong>  {{ juego.estado }}</p>
          <p><strong>Precio: </strong>  {{juego.precio}}€ </p>    
          <p [id]="'results-' + juego.id"></p>
          <div class="card-buttons">
            <button class="sale-changer-btn" (click)="cambiarEstado(juego.id)">Cambiar estado</button>
            <button class="sale-register" *ngIf="juego.estado === 'en venta'" (click)="openSellingModal(juego.id)">Vender</button> <!-- Hay que añadir la funcionalidad una vez la página de ventas esté terminada-->
            <button class="delete-btn" (click)="borrarJuego(juego.id)">Borrar</button>
          </div>

          <div *ngIf="isSellingModalOpen" class="modal-content-container">
            <div class="modal-content">
              <button class="close-btn" (click)="closeSellingModal()">X</button>
              <app-venta-juego  
                [juegoId]="juegoSeleccionadoId"
                (close)="closeSellingModal()">
              </app-venta-juego>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>