.games-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#title-add-button-container {
    background-color: #222;
    height: 30%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #DAA520;
}

#add-button {
    padding: 12px 30px;
    background: linear-gradient(to right, #9B111E, #E0115F, #D5006D);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#add-button:hover {
    background: linear-gradient(to right, #8B0000, #FF1493, #FF69B4);
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}



.sale-register {
    background: linear-gradient(to right, #6A4C9C, #9B59B6, #8E44AD, #A569BD);
    border-radius: 3%;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sale-register:hover {
    background: linear-gradient(to right, #5E3370, #9B59B6, #7D3C98);
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.sale-register:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#title-add-button-container h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: row;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 350px;
    height: 500px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#4B4B4B, #C0C0C0, #FFFFFF);
    text-align: center;
}

.card-header h3 {
    font-size: 20px;
    font-weight: bold;
    color: #DAA520;
}

.card-header {
    background-color: transparent;
    background-image: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.card-body p {
    font-size: 14px;
    margin: 5px 0;
    color: black;
}


.card-body img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.delete-btn {
    background: linear-gradient(to right, #D5006D, #C2185B, #9C1C44);
    border-radius: 5%;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-btn:hover {
    background: linear-gradient(to right, #9C1C44, #C2185B, #D5006D);
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.delete-btn:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-buttons{
    padding-top: 15px;
    display:flex;
    flex-direction:row;
    gap: 30px;
}


@media (max-width: 1180px) {
    #title-add-button-container {
        width: 90%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: none;
    }

    .card-body img {
        width: 120px;
        height: 120px;
    }
}