.games-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#title-add-button-container {
    background-color: #222;
    height: 30%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #DAA520;
}




#add-button {
    padding: 12px 30px;
    background: linear-gradient(to right, #9B111E, #E0115F, #D5006D);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#add-button:hover {
    background: linear-gradient(to right, #8B0000, #FF1493, #FF69B4);
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.sale-register {
    display:flex;
    background: linear-gradient(to right, #388f55, #26623a, #1d512b);
    border: 1px solid #3A9A55;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    max-width: 90px;
    max-height: 36px;
    align-items: center;
    text-align: center;
}

.sale-register:hover {
    background: linear-gradient(to right, #4CAF50, #66BB6A, #2C6B39);
    transform: translateY(-3px);
    border-color: gold;
    box-shadow: 0 0 8px gold;
;
}

.sale-register:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#title-add-button-container h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    max-width: 1200px;
    ;
    padding-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.6);
}

.card {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 350px;
    height: 500px;
    padding: 15px;
    border: 1px solid #DAA520;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #222;
    text-align: center;
    box-sizing: border-box;
}

.card-header h3 {
    font-size: 20px;
    font-weight: bold;
    color: #DAA520;
}

.card-header {
    background-color: transparent;
    background-image: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

strong {
    color: #DAA520;
}


.card-body p {
    font-size: 14px;
    margin: 5px 0;
    color: white;
}


.card-body img {
    border: 1px solid #DAA520;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.sale-changer-btn {
    display:flex;
    background: linear-gradient(to right, #388f55, #26623a, #1d512b);
    border: 1px solid #3A9A55;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    max-width: 90px;
    max-height: 36px;
    align-items: center;
    text-align: center;
}

.sale-changer-btn:hover {
    background: linear-gradient(to right, #4CAF50, #66BB6A, #2C6B39);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.delete-btn {
    display:flex;
    background: linear-gradient(to right, #D5006D, #C2185B, #9C1C44);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #9C1C44;
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    max-width: 90px;
    max-height: 36px;
    align-items: center;
    text-align: center;
}

.delete-btn:hover {
    background: linear-gradient(to right, #9C1C44, #C2185B, #D5006D);
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.delete-btn:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-buttons {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.en-venta {
    color: green !important;
    font-weight: bold;
}

.no-en-venta {
    color: red !important;
    font-weight: bold;
}


@media (max-width: 1180px) {
    #title-add-button-container {
        width: 90%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: none;
    }

    .card-body img {
        width: 120px;
        height: 120px;
    }
}