<nav class="navbar">
  <div class="container">
    <div class="navbar-left">
      <button class="btn" routerLink="/">Inicio</button>
      <button class="btn" *ngIf="isAuthenticated" routerLink="/coleccion">Colección</button>
      <button class="btn" routerLink="/mercado">Mercado</button>
      <button class="btn" *ngIf="isAuthenticated" routerLink="/seguimientos">Seguimientos</button>
      <button class="btn" routerLink="/contacto">Contacto</button>
    </div>
    <div class="navbar-right">
      <button class="btn btn-primary" *ngIf="isOnColeccionPage" (click)="agregarJuego()">Agregar Juego</button>
    </div>
  </div>
</nav>
