#forms-container {
    margin-top: 120px;
    margin-bottom: 200px;
    padding: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #222;
    border: 1px solid #DAA520;;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(218, 165, 32, 0.3);
    color: #f0f0f0;
    font-family: 'Inria Sans', sans-serif;
}

h3 {
    color: #DAA520;
    margin-bottom: 1rem;
    font-family: 'Instrument Serif', serif;
}

#main-h3 {
    padding-bottom: 7px;
    text-align: center;
    border-bottom: 1px solid grey;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem;
    background-color: #2a2a2a;
    border: 1px solid #555;
    border-radius: 6px;
    color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #DAA520;
    box-shadow: 0 0 8px rgba(218, 165, 32, 0.6);
    outline: none;
}

button {
    display: flex;
    background: linear-gradient(to right, #388f55, #26623a, #1d512b);
    border: 1px solid #3A9A55;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    max-width: 90px;
    max-height: 36px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    background: linear-gradient(to right, #4CAF50, #66BB6A, #2C6B39);
    transform: translateY(-3px);
    border-color: gold;
    box-shadow: 0 0 8px gold;
}

p {
    margin-top: 0.5rem;
    font-weight: bold;
}

p[style*="red"] {
    color: #ff4d4d !important;
}

p[style*="green"] {
    color: #4dff4d !important;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

button:active {
    animation: pulse 0.2s ease;
    box-shadow: 0 0 12px gold inset;
}

.btn-activo {
    cursor: pointer;
    opacity: 1;
}

.btn-deshabilitado {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
    border-color: gray;
}


@media (max-width: 768px) {
    #forms-container {
        width: 80%;
    }


}