.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 90px;
  height: 86px;
  border-radius: 10px;
  object-fit: contain;
}

.navbar {
  position: static;
  background: none;
  box-shadow: none;
  padding: 0;
}

.navbar button {
  background: linear-gradient(to right, #50C878, #50C878, #3A9A55);
  color: white;
  border-radius: 8px; 
  border: 1px solid #3A9A55;
  padding: 12px 20px; 
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar button:hover {
  background: linear-gradient(to right, #60D888, #50C878, #4CAF50); 
  transform: translateY(-3px); 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar button:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-left {
  display: flex;
  gap: 15px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions button {
  background: linear-gradient(to right, #50C878, #50C878, #3A9A55);
  color: white;
  border-radius: 8px;
  border: 1px solid #3A9A55;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.user-actions button:hover {
  background: linear-gradient(to right, #60D888, #50C878, #4CAF50); 
  transform: translateY(-3px); 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.user-actions button:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-left {
  display: flex;
  gap: 15px;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar-left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
  }

  .navbar button {
    width: 100%; 
    padding: 12px; 
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column; 
    height: auto; 
    padding: 10px;
  }

  .navbar-left {
    flex-direction: column; 
    align-items: center;
  }

  .navbar button {
    width: 100%; 
    text-align: center; 
  }

  .user-actions button {
    width: 100%; 
    text-align: center;
  }
}
