.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #222;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    
}

.navbar-nav .nav-item .nav-link.active-button {
    background: linear-gradient(to right, #74f44d, #43882a, #177319);  
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 90px;
    height: 86px;
    border-radius: 10px;
    object-fit: contain;
}

.navbar {
    background: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
}

.navbar-toggler {
    border: none;
    background: transparent;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-collapse {
    transition: all 0.3s ease-in-out;
}

.navbar-nav {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item .nav-link {
    background: linear-gradient(to right, #50C878, #50C878, #3A9A55);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-item .nav-link:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions .btn {
    background: linear-gradient(to right, #50C878, #50C878, #3A9A55);
    color: white;
    border-radius: 8px;
    border: 1px solid #3A9A55;
    padding: 12px 20px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.user-actions .btn:hover {
    background: linear-gradient(to right, #60D888, #50C878, #4CAF50);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.user-actions .btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


/* Así mantengo el menú a la derecha del todo y el logo a la izquierda hasta pantallas pequeñas, donde se centra */
@media (max-width: 1000px){
    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }


    .navbar-toggler {
        margin-left: auto;
        z-index: 1100; 
    }

    .navbar-collapse {
        border: 1px solid #DAA520;
        border-radius: 6px;
        background: #222;
        padding: 10px;
        position: absolute;
        top: 100%;  
        right: 0;  
        width: 150px; 
        z-index: 1000;
        display: none; 
        flex-direction: column;
        align-items: center; 
    }


    .navbar-collapse.show {
        display: flex;
    }

   
    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav .nav-item .nav-link {
        width: 80%;
        text-align: center;
        font-size: 13px;
        padding: 12px 20px;
        box-sizing: border-box;
    }
}


@media (max-width: 480px) {
    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }


    .navbar-toggler {
        margin-left: auto;
        z-index: 1100; 
    }

    .navbar-collapse {
        border: 1px solid #DAA520;
        border-radius: 6px;
        background: #222;
        padding: 10px;
        position: absolute;
        top: 100%;  
        right: 0;  
        width: 100px; 
        z-index: 1000;
        display: none; 
        flex-direction: column;
        align-items: center; 
    }


    .navbar-collapse.show {
        display: flex;
    }

   
    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav .nav-item .nav-link {
        width: 90%;
        text-align: left;
        font-size: 10px;
        padding: 12px 20px;
        box-sizing: border-box;
    }
}



@media (max-width: 412px) {
    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }


    .navbar-toggler {
        margin-left: auto;
        z-index: 1100; 
    }

    .navbar-collapse {
        border: 1px solid #DAA520;
        border-radius: 6px;
        background: #222;
        padding: 10px;
        position: absolute;
        top: 100%;  
        right: 0;  
        width: 100px; 
        z-index: 1000;
        display: none; 
        flex-direction: column;
        align-items: center; 
    }


    .navbar-collapse.show {
        display: flex;
    }

   
    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav .nav-item .nav-link {
        width: 90%;
        text-align: left;
        font-size: 8px;
        padding: 12px 20px;
        box-sizing: border-box;
    }
}
