<header class="header">
    <div class="header-left">
        <div class="logo">
            <button id="index-button" (click)="navigateTo('/')" [ngClass]="{ 'active-button': rutaActual === '/' }">
                <img src="assets/img/header/logo.gif" alt="Logo" />
            </button>
        </div>

        <div class="navbar-container">
            <nav class="navbar navbar-expand-lg" id="navbar">
                <div class="collapse navbar-collapse" [class.show]="menuOpen" id="navbarNav">
                    <ul class="navbar-nav" id="navbar-list">
                        <li class="nav-item" *ngIf="isAuthenticated">
                            <button class="nav-link btn" (click)="navigateTo('/coleccion')"
                                [ngClass]="{ 'active-button': rutaActual === '/coleccion' }">
                                Colección
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" (click)="navigateTo('/mercado')"
                                [ngClass]="{ 'active-button': rutaActual === '/mercado' }">
                                Mercado
                            </button>
                        </li>
                        <li class="nav-item" *ngIf="isAuthenticated">
                            <button class="nav-link btn" (click)="navigateTo('/seguimientos')"
                                [ngClass]="{ 'active-button': rutaActual === '/seguimientos' }">
                                Seguimientos
                            </button>
                        </li>
                        <li class="nav-item" *ngIf="isAuthenticated">
                            <button class="nav-link btn" (click)="navigateTo('/ventas')"
                                [ngClass]="{ 'active-button': rutaActual === '/ventas' }">
                                Ventas
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" (click)="navigateTo('/contacto')"
                                [ngClass]="{ 'active-button': rutaActual === '/contacto' }">
                                Contacto
                            </button>
                        </li>
                        <li class="nav-item" *ngIf="isAuthenticated">
                            <button class="nav-link btn" (click)="navigateTo('/chat')"
                                [ngClass]="{ 'active-button': rutaActual === '/chat' }">
                                Chat
                            </button>
                        </li>
                        <li class="nav-item" *ngIf="isAdmin">
                            <button class="nav-link btn" (click)="navigateTo('/admin')"
                                [ngClass]="{ 'active-button': rutaActual === '/admin' }">
                                Admin
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div id="notification-container">
        <p id="userName"> {{ username }}</p>
        <i class="bi bi-gear-fill" (click)="navigateTo('/user-config')"></i>
        <div class="nav-item dropdown-father">
            <button class="nav-link btn" id="notificaciones" (click)="toggleNotifications()">
                <i class="bi bi-bell" id="notification-bell"  [ngClass]="{ 'not-new': notifications.length == 0, 'new': notifications.length > 0 }"></i>
                <span *ngIf="notifications.length > 0" class="notification-badge">{{
                    notifications.length}}</span>
            </button>
            <div *ngIf="notificationsVisible" class="notifications-dropdown">
                <div class="card-body" *ngFor="let notification of notifications"
                    [ngClass]="{ 'leido': notification.leido, 'no-leido': !notification.leido }">
                    <div id="notification-aligner">
                        <button *ngIf="notifications.length > 0" class="notification-deleter" (click)="destroyNotification(notification.id)">
                            <span class="delete-icon">X</span>
                        </button>
                    </div>
                    <p>{{ notification.mensaje }}</p>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <button *ngIf="isLoggedIn" id="logout-btn" class="nav-link btn" (click)="logout()">Salir</button>
        </div>
        <button  [ngStyle]="{'visibility':'hidden'}"    class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav"
            [attr.aria-expanded]="menuOpen" aria-label="Toggle navigation">
            <img class="navbar-toggler-icon" src="assets/img/header/hamburguer.png">
        </button>
    </div>
</header>