
<div class="modal-overlay">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="container">
      <div class="modal-header">
        <h2 [ngStyle]="{'color':'#DAA520'}">Agregar Juego</h2>
        <button (click)="cerrarModal()" id="modal-closer">X</button>
      </div>
      <form [formGroup]="juegoForm" (ngSubmit)="agregarJuego()" enctype="multipart/form-data">
        <input type="text" formControlName="nombre" placeholder="Nombre del juego">  
        <select formControlName="plataforma">
          <option value="" disabled>Selecciona una plataforma</option>
          <option value="Playstation">PlayStation</option>
          <option value="Xbox">Xbox</option>
          <option value="PC">PC</option>
        </select>
        <select formControlName="condicion">
          <option value="precintado">Precintado</option>
          <option value="usado">Usado</option>
        </select>    
        <textarea formControlName="descripcion" placeholder="Descripción"></textarea>        
        <input type="file" (change)="onFileSelected($event)" placeholder="Cargar imagen de juego">  
        <select formControlName="estado">
          <option value="en venta">En venta</option>
          <option value="no en venta">No en venta</option>
        </select> 
        <div id="submit-container">
          <button type="submit" id="add-btn" [ngStyle]="{'border':'none'}"  >Agregar</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
