.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: #2C2C2C;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #DAA520;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modal-content h2 {
    margin: 0;
    font-size: 24px;
    color: #DAA520;
    font-weight: bold;
    text-align: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-content button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #DAA520;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .modal-content button[type="submit"] {
    background: linear-gradient(to right, #9B111E, #E0115F, #D5006D);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .modal-content button[type="submit"]:hover {
    background: linear-gradient(to right, #8B0000, #FF1493, #FF69B4);
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content input,
  .modal-content select,
  .modal-content textarea,
  .modal-content button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
  }
  
  .modal-content input[type="text"],
  .modal-content textarea {
    width: 100%;
  }
  
  .modal-content textarea {
    height: 100px;
    resize: none;
  }
  
  .modal-content input[type="file"] {
    padding: 5px;
  }
  
  .modal-content select {
    background: white;
    border: 1px solid #ddd;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #submit-container {
    width: 30%;
    align-self: center;
  }
  
  #modal-closer {
    border-radius: 20%;
    font-size: 20px;
    border: none;
    background: linear-gradient(to right, #9B111E, #E0115F, #D5006D);
    color: #b88d32;
  }
  