<div class="modal-overlay">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="container">
            <div class="modal-header">
                <h2 [ngStyle]="{'color':'#DAA520'}">Venta de juego</h2>
                <button (click)="cerrarModal()" id="modal-closer">X</button>
            </div>
            <form [formGroup]="ventaForm" (ngSubmit)="registrarVenta()" enctype="multipart/form-data">
                <input type="text" formControlName="telefono" placeholder="Teléfono del usuario">
                <button type="submit" id="add-btn" [ngStyle]="{'border':'none'}"  >Agregar</button>
            </form>
        </div>
    </div>
</div>