<app-header></app-header>
<div class="index-container">
    <h2 class="centered">Bienvenido a Nuestra Página</h2>
    <p class="left-aligned">Antes de nada, déjame hacerte una pregunta: ¿Te gusta coleccionar? ¿Te gustan los videojuegos?
        Si es así, bienvenido, ya eres uno de los nuestros.
        
        GamerCave es una plataforma online que te brinda la oportunidad de registrar tu
        colección y llevar así un seguimiento óptimo y útil de los juegos con los que cuenta tu colección,
        pudiendo añadir, borrar, editar y buscar juegos con un sólo click.
        
        Además, como hub de encuentro para jugones y coleccionistas por igual, GamerCave te ofrece la
        posibilidad de comprar y vender juegos a otros usuarios.
    </p>
    <p class="right-aligned">Vende, compra, intercambia, todo lo que haga falta para conseguir una colección
        que será la envidia de todos. Sacia tus ánsias de formar parte de la realeza
        de los coleccionistas. </p>
  
    <div class="image-container">
      <img id="index-image" src="assets/img/index/img_index.webp" alt="Imagen Representativa" />
    </div>
    <h2 class="centered">¡Tu bóveda aguarda! </h2>
    <div class="buttons-container">
      <a class="btn" href="/login">Iniciar Sesión</a>
      <a class="btn" href="/registro">Registrarse</a>
    </div>
</div>
<app-footer></app-footer>