/* Estilo del footer */
.footer {
    background-color: #222;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;  /* IMportantísimo para que el footer no quede por debajo de otros elementos */
  }
  

  .footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
  }
  
  .map-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
  }
  
  .social-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  
  .social-btn {
    display: inline-block;
    width: 30px; 
    height: 30px;
  }
  
  .social-btn img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
  }
  
  .social-btn:hover img {
    opacity: 0.8; 
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .social-links {
      justify-content: center;
      margin-top: 10px;
    }
  

    .social-btn {
      width: 25px;
      height: 25px;
    }
  }
  