<footer class="footer">
  <div class="footer-content">
    <div id="sites-big-container">
      <h4>Enlaces a páginas de compraventa</h4>
      <div id="sites-container">
        <a target="_blank" href="https://es.wallapop.com/"><img src="assets/img/footer/wallapop.png" /></a>
        <a target="_blank"
          href="https://www.milanuncios.com/videojuegos/?orden=relevance&fromSearch=1&fromSuggester=0&suggestionUsed=0&hitOrigin=home_search&recentSearchShowed=0&recentSearchUsed=0"><img
            src="assets/img/footer/milanuncios.png" /></a>
        <a target="_blank"
          href="https://www.ebay.es/sch/i.html?_nkw=videojuegos&_sacat=0&_from=R40&_trksid=p4432023.m570.l1313"><img
            src="assets/img/footer/ebay.png" /></a>
      </div>
    </div>
    <div class="social-links">
      <h4>Redes sociales</h4>
      <div id="social-links-container">
        <a href="https://discord.gg/jA4pH8PK8f" target="_blank" class="social-btn"><img src="assets/img/footer/discord.png"
            alt="Facebook" /></a>
        <a href="https://www.instagram.com/game.rcave/" target="_blank" class="social-btn"><img
            src="assets/img/footer/instagram.png" alt="Instagram" /></a>
      </div>
    </div>
  </div>
</footer>