<footer class="footer">
    <div class="footer-content">
      <a href="/mapa" class="map-link">Mapa de la Web</a>
      <div class="social-links">
        <a href="https://www.facebook.com" target="_blank" class="social-btn"><img src="assets/img/footer/facebook.png" alt="Facebook" /></a>
        <a href="https://www.whatsapp.com" target="_blank" class="social-btn"><img src="assets/img/footer/whatsapp.png" alt="Twitter" /></a>
        <a href="https://www.instagram.com" target="_blank" class="social-btn"><img src="assets/img/footer/instagram.png" alt="Instagram" /></a>
      </div>
    </div>
  </footer>
  