<app-header></app-header>
<div class="flex items-center justify-center min-h-screen bg-gray-100 login-card-container" >
    <div class="shadow-xl rounded-lg p-8 w-96 text-center" id="login-card">
        <div id="image-container">
            <img src="assets/img/login/login-img.jpg" alt="Logo" class="w-24 mx-auto mb-4">
        </div>
        <h2 class="text-2xl font-bold mb-6">Iniciar Sesión</h2>
        <form (ngSubmit)="onLogin()">
            <div class="mb-4" >
                <label for="username" class="block text-left mb-1">Usuario</label>
                <input type="text" id="username" [(ngModel)]="username" name="username" required
                    class="w-full">
            </div>

            <div class="mb-6">
                <label for="password" class="block  text-left mb-1">Contraseña</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" required
                    class="w-full">
            </div>
            <button type="submit" id="boton-login">Ingresar</button>
        </form>
    </div>
</div>
<app-footer></app-footer>