<app-header></app-header>
<div id="sells-container">
    <div *ngIf="ventas.length > 0; else noVentas">
      <h2>Lista de Ventas</h2>
      <div class="cards-container">
        <div class="card" *ngFor="let venta of ventas">
          <div class="card-body">
            <p><strong>Vendedor:</strong> {{ venta.id_vendedor }}</p>
            <p><strong>Comprador:</strong> {{ venta.id_comprador }}</p>
            <p><strong>Precio:</strong> {{ venta.precio}}€</p>
            <p><strong>Fecha de Venta:</strong> {{ venta.fecha_venta | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noVentas>
      <p>No se han encontrado ventas.</p>
    </ng-template> 
  </div>
<app-footer></app-footer>