services:
#Base de datos:
  db:
    image: mysql
    container_name: db
    environment:
      MYSQL_DATABASE: gamingcollections
      MYSQL_USER: gamehoarder
      MYSQL_PASSWORD: Wh@t@reYouSelling
      MYSQL_ROOT_PASSWORD: r@@terb@@ter
    volumes:
      - /home/daniel/Proyecto2/db:/var/lib/mysql
    networks:
      backend:
        ipv4_address: 172.18.0.2

  server:
    image: node
    container_name: server
    depends_on:
      - db
    volumes:
      - /home/daniel/Proyecto2/server:/app
    environment:
      DB_HOST: 172.18.0.2
      DB_PORT: 3306
      DB_USER: gamehoarder
      DB_PASS: Wh@t@reYouSelling
      DB_NAME: gamingcollections
      PORT: 3000
    networks:
      backend:
        ipv4_address: 172.18.0.3
      frontend:
        ipv4_address: 172.18.1.3
    command: ["/bin/bash", "-c", "curl -o /usr/local/bin/wait-for-it.sh https://raw.githubusercontent.com/vishnubob/wait-for-it/master/wait-for-it.sh && chmod +x /usr/local/bin/wait-for-it.sh && wait-for-it.sh 172.18.0.2:3306 --timeout=70 -- node app/app.js"]

  frontend:
    image: danielfaq/gamecol_frontend
    container_name: frontend
    volumes:
      - /home/daniel/Proyecto2/frontend:/app
    networks:
      frontend:
        ipv4_address: 172.18.1.2
    ports:
      - "4200:4200"
    command: ["npm", "start"]




# Redes:
networks:
  backend:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/24

  frontend:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.18.1.0/24 