#home-container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.games-container {
    align-self: center;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
}

h3{
    font-size: 38px;
    font-weight: bold;
    color: #DAA520;
}

strong{
    color: #DAA520;
}

.card-container h3{
    font-size: 22px;
}

.card.en-venta {
    border-left: 7px solid green;
    border-right: 7px solid green;
}

.card.no-en-venta {
    border-left: 7px solid red;
    border-right: 7px solid red;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.6);
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}




.card {

    flex: 1 1 100%;
    max-width: 1000px;
    height: auto;
    padding: 20px;
    border: 1px solid #DAA520;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #2C2C2C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.card-header {
    margin-right: 20px;
    min-width: 150px;
}

.card-header h3 {
    font-size: 22px;
    font-weight: bold;
    color: #DAA520;
    margin: 0;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.card-body img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.delete-btn {
    background: linear-gradient(to right, #D5006D, #C2185B, #9C1C44);
    width: 70px;
    height: 50px;
    color: white;
    border-radius: 5%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.delete-btn:hover {
    background: linear-gradient(to right, #9C1C44, #C2185B, #D5006D);
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.delete-btn:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body p {
    font-size: 15px;
    margin: 0;
    margin-left: 2px;
    color: rgb(255, 255, 255);
    min-width: 200px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: auto;
}

@media (max-width: 1024px) {
    .card {
        flex-direction: column;
        align-items: flex-start;
        max-width: 90%;
    }

    .card-body {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-buttons {
        align-self: center;
        margin-left: 0;
    }
}
