<app-header></app-header>
<div class="registro-container">
  <div class="form-container">
    <h2>¡Un mundo de riquezas te aguarda!</h2>
    <div class="registro-card">
      <div class="form-inputs">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input id="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" type="text" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" [(ngModel)]="email" name="email" type="email" required />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input id="password" [(ngModel)]="password" name="password" type="password" required />
          </div>
          <div class="button-container">
            <button type="submit">Registrar</button>
          </div>
        </form>
      </div>
      <div class="image-container">
        <img src="assets/img/registrar/registro_img.jfif" alt="Imagen" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
