<app-header></app-header>

<div class="chat-container">
  <h3 class="chat-h3">Chat general</h3>
  <div class="mensajes" #mensajesContainer>
    <div *ngFor="let msg of mensajes">
      <strong class="user-name">{{ msg.Usuario1.nombreUsuario }}:</strong> {{ msg.mensaje }}
    </div>
  </div>

  <form (ngSubmit)="enviarMensaje()">
    <input [(ngModel)]="mensajeTexto" name="mensaje" placeholder="Escribe tu mensaje..." required />
    <button type="submit">Enviar</button>
  </form>
</div>

<app-footer></app-footer>